@model KeepHome.Web.ViewModels.Home.IndexViewModel
@{
    Layout = "_Layout";
}
<div class="site-blocks-cover" style="background-image: url(images/background.png);" data-aos="fade">
    <div class="site-blocks-cover" style="background-image: url(images/dark.png);" data-aos="fade">
        <div class="site-blocks-cover" style="background-image: url(images/keephome.png);" data-aos="fade">
        </div>
    </div>
</div>

<div class="site-section site-blocks-2">
    <div class="container">
        <div class="row">
            @if (!Model.RandomCategories.Any())
            {
                <div class="col-lg-12">
                    <h2 class="text-center">@Model.ShowNoCategoriesMessage</h2>
                </div>
            }
            @foreach (var category in Model.RandomCategories)
            {
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" asp-controller="ParentCategories" asp-action="Details" asp-route-id="@category.Id">
                        <figure class="image">
                            <img src="@category.ImageUrl" style="width:600px; height:300px" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Категория</span>
                            <h3>@category.Name</h3>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Нови продукти</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (!Model.LastAddedProducts.Any())
                {
                    <h2 class="text-center">@Model.ShowNoLastAddedProductsMessage</h2>

                }
                <div class="nonloop-block-3 owl-carousel">
                    @foreach (var product in Model.LastAddedProducts)
                    {
                        <div class="item">
                            <div class="block-4 text-center">
                                <figure class="block-4-image">
                                    <img src="@product.ImageUrl" alt="Image placeholder" class="img-fluid">
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h3>
                                    <p class="mb-0">Добавен на: @product.AddedOn.ToShortDateString()</p>
                                    <p class="text-primary font-weight-bold">@product.Price лв.</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>