@model KeepHome.Web.ViewModels.Products.ProductDetailsViewModel

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="@Model.ImageUrl" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="text-black">@Model.Name</h2>
                <p>@Model.Description</p>
                @if (Model.Quantity < 1)
                {
                    <p class="mb-4">Out of stock</p>
                }
                else
                {
                    <p class="mb-4">Наличност @Model.Quantity</p>
                }
                <p><strong class="text-primary h4">@Model.Price лв.</strong></p>
                <div class="mb-5">
                    <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                        </div>
                        <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                        </div>
                    </div>
                </div>
                <p><a asp-controller="ShoppingBag" asp-action="Add" asp-route-id="@Model.Id" class="buy-now btn btn-sm btn-primary">Add To Cart</a></p>
            </div>
        </div>
    </div>
</div>