@using KeepHome.Web.Areas.Admin.ViewModels.ChildCategory

@model KeepHome.Web.Areas.Admin.ViewModels.ChildCategory.AllChildParentCategoryViewModel

@{
    ViewData["Title"] = "Под категории";
}
<div class="container mobile-fondsize-11 shadow">
    <div class="mobile-fondsize-20 h3 text-muted">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-1 d-flex justify-content-center">Номер</th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center">Име</th>
                <th scope="col" class="col-lg-3 d-flex justify-content-center">Основна категории</th>
                <th scope="col" class="col-lg-1 d-flex justify-content-center">Брой продукти</th>
                <th scope="col" class="col-lg-3 d-flex justify-content-center"><p><a asp-area="Admin" asp-controller="ChildCategories" asp-action="Add" class="btn btn-success">Създай новa под категория</a></p></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.ChildCategoryViewModel)
            {
                <tr class="row">
                    <td class="col-1 d-flex justify-content-center">
                        @category.Id
                    </td>
                    <td class="col-2 d-flex justify-content-center">
                        @category.Name
                    </td>
                    <td class="col-3 d-flex justify-content-center">
                        @category.ParentCategoryName
                    </td>
                    <td class="col-1 d-flex justify-content-center">
                        @category.ProductsCount
                    </td>
                    <td class="col-md-3 d-flex justify-content-around">
                        <div class="mr-2">
                            <a asp-controller="ChildCategories" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-sm btn-primary">Промени</a>
                        </div>
                        <div class="mr-2">
                            <a asp-controller="ChildCategories" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-sm btn-outline-danger">Изтрий</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
