
@model KeepHome.Web.Areas.Admin.ViewModels.ChildCategory.EditChildCategoryViewModel

@{
    ViewData["Title"] = "Промени категория";
}

<div class="row">
    <div class="col-md-6">
        <section>
            <form method="post" asp-controller="ChildCategories" asp-action="Edit" enctype="multipart/form-data">
                <h3 class="mobile-fondsize-20 text-muted">@ViewData["Title"]</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Name"></label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ImageUrl"></label>
                    <input asp-for="@Model.ImageUrl" class="form-control" />
                    <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select class="select-width" name="ParentCategoryId">
                    <option value="" disabled>-- Основна категория --</option>
                    @if (Model.ParentCategories != null)
                    {
                        foreach (var category in Model.ParentCategories)
                        {
                            if (category.Id == Model.ParentCategoryId)
                            {
                                <option value="@category.Id" selected>@category.Name</option>
                            }
                            else
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        }
                    }
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Промени</button>
                </div>
            </form>
        </section>
    </div>
</div>
